.sidebar {
  height: 100%;
}
.logo {
  margin-left: 10px;
  width: 110px;
}
.sidebar-content {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 174px;
  justify-content: space-between;
  height: 90%;
}
.sidebar-content-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 174px;
}
.sidebar-content-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 174px;
  height: 92px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 110px;
  height: 31px;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 174px;
  height: 342px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding: 7px 8px;
  gap: 20px;
  width: 174px;
  height: 34px;
  border-radius: 6px;
  font-size: 18px;
}
.content:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
